
.myBorderPane {
    -fx-background-image: url("/img/sonne_bg.jpg");
}

.subPane {
    -fx-background-radius: 10 10 10 10;
}

.subPane:hover {
    -fx-effect: dropshadow(three-pass-box, #5c98ff, 30, 0.5, 0, 0);
    -fx-cursor: hand;

    /*-fx-end-margin: 10px;
    -fx-pref-height: 158px;
    -fx-pref-width: 113px;*/
}

.displayTemp {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.displayDate {
    -fx-font-size: 17px;
}

.displayDetails {
    -fx-text-fill: white;
}

.testMe {
    -fx-rotate: 100;
}