
.myBorderPaneSunny {
    -fx-background-image: url("/img/backgrounds/sonne_bg.jpg");
}

.myBorderPaneCloudy {
    -fx-background-image: url("/img/backgrounds/cloudy2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 710 420;
    -fx-background-position: center center;
}

.myBorderPaneCloudyRain {
    -fx-background-image: url("/img/backgrounds/rain.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 710 420;
    -fx-background-position: center center;
}

.myBorderPaneSnowy {
    -fx-background-image: url("/img/backgrounds/snowy_bg.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 710 420;
    -fx-background-position: center center;
}

.myBorderPaneThunder {
    -fx-background-image: url("/img/backgrounds/thunder.jpg");
}

.myBorderPaneNight {
    -fx-background-image: url("/img/backgrounds/nachtbild3.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 710 420;
    -fx-background-position: center center;
}

.menuBar {
    -fx-background-color: #fff;
}


.subPane {
    -fx-background-radius: 10 10 10 10;
    -fx-opacity: 0.8;
}

.subPane:hover {
    -fx-effect: dropshadow(three-pass-box, #5c98ff, 30, 0.5, 0, 0);
    -fx-cursor: hand;
    -fx-opacity: 1;
    /*-fx-end-margin: 10px;
    -fx-pref-height: 158px;
    -fx-pref-width: 113px;*/
}

.displayTemp {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.displayDay {
    -fx-font-size: 17px;

}

.displayDate {
    -fx-font-size: 17px;

}

.displayDetails {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.testMe {
    -fx-rotate: 100;
}

.clickedOnPane {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, #5c98ff, 30, 0.5, 0, 0);
}
